/* src/components/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4CAF50; /* Green background */
    padding: 10px 20px;
  }
  
  .navbar-logo {
    color: white;
    text-decoration: none;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
  }
  
  .navbar-links li {
    margin-left: 20px;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }
  